.search-item-container-root {
    text-align: center;
}

.item-search-container {
    margin-top: 24px;
}

.item-search-result-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);

    justify-content: center;
    align-items: center;
}

.item-container {
    margin: 4px;
}

.item-search-details {
    display: flex;

    background: rgb(17,17,17);
    padding: 8px;
    border-radius: 12px;

    text-decoration: none;
}

.item-search-details:hover {
    background: rgb(34, 34, 34);
}

.search-item-icon {
    width: 72px;
    height: 72px;
    margin-right: 2px;
}

.search-item-name {
    color: white;
    margin: auto;
}