.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  color: white;
  background: rgb(17,17,17);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon, .linkedin-icon {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 2px;
}

.contributor {
  margin: 0px 4px;
}