.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  background-color: rgb(175, 175, 175);
  margin: 0px;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  
  padding: 18px 0px;
}