.container-profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-username-container {
    color: white;
    background: rgb(17, 17, 17);
    margin: 8px;
    padding: 16px;

    font-size: 32px;
    font-weight: bolder;

    border-radius: 16px;
}

.profile-character-container {
    background: rgb(17, 17, 17);
    color: white;
    padding: 24px;

    border-radius: 16px;
}

.character-container {
    margin-bottom: 16px;
}

.character-header {
    position: relative;
    margin-bottom: 8px;
}

.character-description {
    position: absolute;
    top: 12px;
    left: 80px;

    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 251, 37);
    background: rgba(17, 17, 17, .7);

    padding: 8px;
    border-radius: 12px;
}

.equipped-inner-container {
    display: flex;
    justify-content: space-between;
}

.equipped-armor-container {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 4px solid white;
}

.equipped-gear-label {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.equipped-weapon-grid, .equipped-armor-grid {
    display: flex;
    flex-direction: column;
}

.item-icon-container {
    margin-top: 8px;
}

.item-icon {
    width: 64px;
    height: 64px;
}

.equipped-item-perks {
    display: flex;
}

.active-perk-icon {
    width: 52px;
    height: 52px;
    margin: 4px;
}