.equipped-inner-container {
    display: flex;
}

.equipped-weapon-grid, .equipped-armor-grid {
    display: flex;
    flex-direction: column;
}

.item-icon-container {
    width: 64px;
    height: 64px;

    margin-top: 8px;
}

.item-icon {
    width: 100%;
}